body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: teal;
  margin: 0px;
  padding: 0px;
}
.sampleShop {
  padding: 0 10px;
}

.title-head {
  background-color: antiquewhite;
  padding-top: 10px;
}

.shoppingList {
  min-height: 500px;
  padding: 10px;
}

.productItemBox {
  border: 1px solid black;
  padding: 20px;
  margin: 5px;
  text-align: center;
  background-color: antiquewhite
}
.shoppingList ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.shoppingList ul li {
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: antiquewhite;
}

.removeItemButton {
  float: right;
  border-radius: 22px;
}

.addToCart {
  border-radius: 22px;
}

.cart-empty-message{
  padding: 20px;
  margin: 20px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .productItemBox {
    min-width: 32.33%;
  }
}

.fa-shopping-cart {
  color: brown;
  padding-top: 7px;
}

.header-label {
  width: 50%;
}

.float-right{
  float: right;
}

.label-cart{
  padding: 5px;
  color: firebrick;
}

.list-cart{
  padding: 10px;
}
